


<!-- css du body a iinclure dans chaque page  -->
<div class="pt-24 container mx-auto">
<div class="bg-white border p-6 rounded shadow h-full shadow-lg ">

<!-- css du body a iinclure dans chaque page  -->

serre numero: {{ serre.idSerre }}  
<!-- graph -->



<div class="  overflow-hidden   bg-white border p-6 rounded shadow h-full shadow-lg   lg:w-auto hidden lg:block  ">
<google-chart class=" overflow-hidden " [type]="myType" [data]="myData" [width]=1000 [height]=700 ></google-chart>

</div>

<!-- barre de recherche -->
<div class="p-8">
<div class="bg-white flex items-center rounded-full shadow-xl">

        <input class="rounded-l-full w-full py-4 px-6 text-gray-700 leading-tight focus:outline-none bg-opacity-0" id="search" type="text" placeholder="Search by Zone">
        
        <div class="p-4">
          <button class="bg-green-50 text-white rounded-full p-2 hover:bg-white hover:text-black focus:outline-none w-12 h-12 flex items-center justify-center">
            icon
          </button>
        </div>

        
</div>
</div>



<!-- css du body a iinclure dans chaque page  -->
<div class="pt-24 container mx-auto">
<div class="bg-white border p-6 rounded shadow h-full shadow-lg ">

<!-- css du body a iinclure dans chaque page  -->

<h2> capteurs de la serre    {{serre.idSerre}}</h2>



<div class="flex flex-wrap h-full sm:-mx-2 shadow-lg">



<div *ngFor="let sensor of sensors" class="bg-white shadow p-4 rounded   flex  justify-around   w-full overflow-hidden  xl:w-1/2 " >
    


                             <div *ngIf="sensor.idSerre == serre.idSerre"class="bg-white flex   justify-around
                w-full
                 rounded lg:w-64 overflow-hidden hover:bg-green-50 "  >   
                            <a [title]="sensor"  [routerLink]= "['/sensors', sensor.idSensor]">
                              
                              
                              {{ serre.idSerre }}


                            </a>






                            <h4>{{ sensor.description }}</h4>

                            <p>{{ sensor.typeData }}</p>
                              </div>





  </div>

</div>
  </div>
  </div>


  </div>
</div>
