


 <nav id="header" class=" w-full">

  <!--Nav-->
 
    
   
jjjjjjjjjjj
<div class=" items-center w-full  overflow-hidden  top-0 bg-gray-200 border-b border-grey-light">

<div class="w-full  items-center justify-between mt-0 py-4">

  <div class=" w-full mr-6 my-2">
    <input type="search" class="bg-purple-white shadow rounded-lg border-0 p-3 w-96" placeholder="Search by zone...">
    
  </div>
</div>
    
    
  </div>

 

</nav>









<!-- css du body a iinclure dans chaque page  -->
  <div class="pt-24 container mx-auto">
    <div class="bg-white border p-6 rounded shadow h-full">
      <!-- css du body a iinclure dans chaque page  -->


<h2> Serres</h2>

<div *ngFor="let serre of serres">

        <h3>
          
          serre {{serre.idSerre}}
          


        </h3>
        <p *ngIf="serre.description">
        Description: {{ serre.description }}
      </p>
      <a  class=button [title]="  ' serre' +serre.idSerre" [routerLink]= "['/serres', serre.idSerre]">
        voir les informations des capteurs
      </a>
</div>
    </div>