<!-- <div class="  items-center justify-between flex bg-green-50 bg-opacity-100 px-12 py-4 my-4 mx-auto shadow-2xl w-11/12">

  <div class="text-2xl text-white font-semibold inline-flex items-center">
        <img src="" class="w-16 mr-4" alt="logo">
        <span>GreenHouse</span>
  </div>










  <div >
      <ul class="flex text-white">
               

                <li class="ml-5 px-2 py-1  " > 
                          <a  [routerLink]= "['/']" >
                                liste des serres
                          </a>
                </li>

                <li class="ml-5 px-2 py-1  " > 
                          <a   [routerLink]= "['allSensors']" >
                                voir les capteurs
                          </a>
                </li>
                <li class="ml-5 px-2 py-1  " > 
                      <a  [routerLink]= "['']" >  
                            wiki 
                      </a>
                </li>

                <li class="ml-5 px-3 py-1 rounded-md font-semibold bg-gray-100 text-gray-800">
                            <a href="">
                              deconnexion
                            </a>
                </li>
      </ul>
  </div>
              
</div>



 -->


<div class="relative w-full  fixed top-0 bg-green-50 rounded-3xl   border-grey-light  mx-auto shadow-2xl ">
          <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-4">
                  
                    <div class=" pl-4 text-2xl   no-underline hover:no-underline text-white font-extrabold inline-flex items-center">
                            <img src="" class="w-16 mr-4  " alt="logo">
                            <span>GreenHouse</span>
                    </div>

                    <div class="dropdown pr-4">
                    <button id="nav-toggle" class="block lg:hidden flex items-center px-3 py-2 border rounded text-white border-grey-white hover:text-white hover:border-purple appearance-none focus:outline-none">
                                  <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg>
                    </button>
                    </div>
                    <div class="w-full flex-grow lg:flex lg:flex-1 lg:content-center lg:justify-end lg:w-auto hidden lg:block mt-2 lg:mt-0 z-20" id="nav-content">
                                    <ul class="dropdown-menu list-reset lg:flex justify-end items-center dropdown-menu ">
                                            <li class="mr-3 py-2 lg:py-0">
                                              <a class="inline-block py-2 px-4 text-white font-bold no-underline" [routerLink]= "['/']"> liste des serres</a>
                                            </li>
                                            <li class="mr-3 py-2 lg:py-0">
                                              <a class="inline-block py-2 px-4 text-white font-bold no-underline"  [routerLink]= "['allSensors']"> voir les capteurs</a>
                                            </li>
                                            <li class="mr-3 py-2 lg:py-0">
                                              <a class="inline-block py-2 px-4 text-white font-bold no-underline" [routerLink]= "['#']">wiki</a>
                                            </li>
                                            <li class="mr-3 py-2 lg:py-0">
                                                <a class="inline-block py-2 px-4 text-black rounded-md  bg-gray-100 font-bold no-underline" href="#">deconnexion</a>
                                            </li>
                                
                                    </ul>

                    </div>
          
          </div>

</div>




